.dropdown-menu-custom {
    // display: none;
    display: flex;
    position: absolute;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    z-index: 2;
    border-radius: 4px;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08),
        0 3px 4px 0 rgba(10, 31, 68, 0.1);
    margin-top: 6px;
    margin-bottom: 4px;
    max-height: 200px;
    overflow: auto;
    left: 0;
    right: 0;
    min-width: 100px;

    opacity: 0;
    visibility: hidden;
    display: none;

    &.dropdown-menu-custom--show {
        opacity: 1;
        visibility: visible;
        display: block;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #3d4f6e;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}