$text-normal: #575757;
$text-primary: #f26522;
$text-primary-1: #dd5718;
$text-secondary: #fafafa;
$text-blue: #00476f;
$text-blue-1: #041529;
$body-color: #ffffff;

$text-disabled: #d1d1d1;
$text-grey: #808080;
$text-grey-1: #808080;
$text-grey-2: #595959;
$text-danger: #ff3a3a;

$text-light: #f1f1f1;
$text-light-hover: #dddcdc;

$text-green: #74d89c;
$text-input-disabled: #b4b4b4;
$text-input-bg-disabled: #e6e6e6;
