@font-face {
    font-family: "Google Sans";
    src: url("../assets/fonts/GoogleSans-Italic/GoogleSans-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Google Sans";
    src: url("../assets/fonts/GoogleSans-Regular/GoogleSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Google Sans";
    src: url("../assets/fonts/GoogleSans-BoldItalic/GoogleSans-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Google Sans";
    src: url("../assets/fonts/GoogleSans-Bold/GoogleSans-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Google Sans Medium";
    src: url("../assets/fonts/GoogleSans-MediumItalic/GoogleSans-MediumItalic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Google Sans Medium";
    src: url("../assets/fonts/GoogleSans-Medium/GoogleSans-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}