$sizeamounts: (5, 10, 12, 14, 15, 16, 18, 20, 24, 25, 30, 35, 36, 38, 40, 45, 48, 50, 60, 72, 74, 75, 100, 125, 135, 150, 160, 175, 200, 220, 250, 280, 300, 320, 356, 400, 600);

@each $size in $sizeamounts {
    .width-#{$size} {
        width: #{$size}px !important;
    }
    .height-#{$size} {
        height: #{$size}px !important;
    }
    .min-width-#{$size} {
        min-width: #{$size}px !important;
    }
    .min-height-#{$size} {
        min-height: #{$size}px !important;
    }
    .max-width-#{$size} {
        max-width: #{$size}px !important;
    }
    .max-height-#{$size} {
        max-height: #{$size}px !important;
    }
    
}

@for $i from 1 to 100 {
    .width-#{$i}p {
        width: #{$i}% !important;
    }
    .height-#{$i}p {
        height: #{$i}% !important;
    }
    .min-width-#{$i}p {
        min-width: #{$i}% !important;
    }
    .min-height-#{$i}p {
        min-height: #{$i}% !important;
    }
}

.min-width {
    width: 1%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-min-height {
    min-height: 100%;
}

.full-min-width {
    min-width: 100%;
}

.parent-width {
    width: inherit;
}

.fit-content {
    width: fit-content;
}