.search-container {
    position: relative;

    &.suffix-icon {
        .search-input {
            display: block;
            padding-right: 24px;
        }
    
        .search-icon {
            position: absolute;
            right: 0;
            top: 8%;
            transform: translate(-50%, 50%);
        }
    }

    &.prefix-icon {
        .search-input {
            display: block;
            padding-left: 24px;
            transition: all 0.5s;
        }
    
        .search-icon {
            position: absolute;
            left: 0;
            top: 8%;
            transform: translate(50%, 50%);
        }
    }
}